/*
* SaasAppoint
* Online Multi Business Appointment Scheduling & Reservation Booking Calendar
* Version 2.2
*/
body {
    font-family: 'Varela';font-size: 15px;
	background-color: aliceblue;
}
/* Generic CSS */
.saasappoint-paddingtb60{
    padding-top:60px;
    padding-bottom:60px;
}
.saasappoint-heading-border {
    background: #e2e2e2 none repeat scroll 0 0;
    border-radius: 2px;
    display: inline-block;
    height: 1px;
    position: relative;
    width: 20%;
    margin-bottom:35px;    
}  
/* saasappoint bsearch result heading */
.saasappoint-bsearch-result-heading h3 {
    font-size: 30px;
    margin-bottom: 17px;
    font-weight: 400;
    text-shadow:3px 4px 6px #90a4ae;
}
/* Banner CSS */
.saasappoint-banner-overlay {
    background: url("../images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 5%;
    padding-bottom: 5%;
}

.saasappoint_header_bg_clr{
	background: linear-gradient(0.09turn,#EB2D2E,#1082C5,#7F257D)!important;
}
.saasappoint-footer-bg,
.saasappoint_header_bg_clr{
	background: linear-gradient(0.09turn,#EB2D2E,#1082C5,#7F257D)!important;
}
#saasappoint-main-menu-collapse a{
	color: white;
	font-size: x-large;
}

/******************** BUSINESS SEARCH CSS *******************/
.saasappoint-btn-search{
	background-color: rgba(14, 118, 51, 0.5) !important;
	color: white;
}
.saasappoint-btn-search:hover{
	background-color: rgba(14, 118, 51, 0.6) !important;
	color: white;
}
.saasappoint-form-control-borderless {
	border: none;
}

.saasappoint-form-control-borderless:hover, .saasappoint-form-control-borderless:active, .saasappoint-form-control-borderless:focus {
	border: none;
	outline: none;
	box-shadow: none;
}		
/******************** BUSINESS CARD CSS *******************/
.saasappoint-business-card i.fa-user, .saasappoint-business-card i.fa-envelope, .saasappoint-business-card i.fa-phone, .saasappoint-business-card i.fa-map-marker{color:rgba(14, 118, 51, 0.5) !important;padding-right:5px;}
.saasappoint-business-card i.fa-star {color:orange !important;padding-right:5px;}
.saasappoint-business-card i.fa-calendar {padding-right:5px;}
.saasappoint-business-card .card-footer .pull-right {padding-top:15%;}
.saasappoint-business-card h4 {font-weight:600;color:rgba(14, 118, 51, 0.5) !important;}
.saasappoint-business-card a:hover {text-decoration:none;}
.saasappoint-business-card .card{box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;width: 100%;border-radius: 0px;}
.saasappoint-business-card .card:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}
.saasappoint-business-card .card-block {padding:15px;}
.saasappoint-business-card .card-img {border-radius: 0px 0px 0 0;min-height:150px;max-height:150px;overflow: hidden; }



/** Loader CSS START **/
.saasappoint_hide_loader{
	display:none;
}
.saasappoint_show_loader{
	display:none;
}
#saasappoint-loader-overlay{
    position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background-color: #000000;
	opacity: .5;
}
#saasappoint-loader {
    bottom: 0;
    height: 250px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -20%;
    width: 250px;
	z-index: 999999;
}
#saasappoint-loader .saasappoint-loader-dot {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
}
#saasappoint-loader .saasappoint-loader-dot::before {
    border-radius: 100%;
    content: "";
    height: 120px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    width: 120px;
}
#saasappoint-loader .saasappoint-loader-dot:nth-child(7n+1) {
    transform: rotate(45deg);
}
#saasappoint-loader .saasappoint-loader-dot:nth-child(7n+1)::before {
    animation: 0.8s linear 0.1s normal none infinite running saasappoint-loader-load;
    background: #FFFFFF none repeat scroll 0 0;
}
#saasappoint-loader .saasappoint-loader-dot:nth-child(7n+2) {
    transform: rotate(90deg);
}
#saasappoint-loader .saasappoint-loader-dot:nth-child(7n+2)::before {
    animation: 0.8s linear 0.2s normal none infinite running saasappoint-loader-load;
    background: #FFFFFF none repeat scroll 0 0;
}
#saasappoint-loader .saasappoint-loader-dot:nth-child(7n+3) {
    transform: rotate(135deg);
}
#saasappoint-loader .saasappoint-loader-dot:nth-child(7n+3)::before {
    animation: 0.8s linear 0.3s normal none infinite running saasappoint-loader-load;
    background: #FFFFFF none repeat scroll 0 0;
}
#saasappoint-loader .saasappoint-loader-dot:nth-child(7n+4) {
    transform: rotate(180deg);
}
#saasappoint-loader .saasappoint-loader-dot:nth-child(7n+4)::before {
    animation: 0.8s linear 0.4s normal none infinite running saasappoint-loader-load;
    background: #FFFFFF none repeat scroll 0 0;
}
#saasappoint-loader .saasappoint-loader-dot:nth-child(7n+5) {
    transform: rotate(225deg);
}
#saasappoint-loader .saasappoint-loader-dot:nth-child(7n+5)::before {
    animation: 0.8s linear 0.5s normal none infinite running saasappoint-loader-load;
    background: #FFFFFF none repeat scroll 0 0;
}
#saasappoint-loader .saasappoint-loader-dot:nth-child(7n+6) {
    transform: rotate(270deg);
}
#saasappoint-loader .saasappoint-loader-dot:nth-child(7n+6)::before {
    animation: 0.8s linear 0.6s normal none infinite running saasappoint-loader-load;
    background: #FFFFFF none repeat scroll 0 0;
}
#saasappoint-loader .saasappoint-loader-dot:nth-child(7n+7) {
    transform: rotate(315deg);
}
#saasappoint-loader .saasappoint-loader-dot:nth-child(7n+7)::before {
    animation: 0.8s linear 0.7s normal none infinite running saasappoint-loader-load;
    background: #FFFFFF none repeat scroll 0 0;
}
#saasappoint-loader .saasappoint-loader-dot:nth-child(7n+8) {
    transform: rotate(360deg);
}
#saasappoint-loader .saasappoint-loader-dot:nth-child(7n+8)::before {
    animation: 0.8s linear 0.8s normal none infinite running saasappoint-loader-load;
    background: #FFFFFF none repeat scroll 0 0;
}
#saasappoint-loader .saasappoint-loader-loading {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    bottom: -40px;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    width: 180px;
}
@keyframes saasappoint-loader-load {
	100% {
		opacity: 0;
		transform: scale(1);
	}
}
@keyframes saasappoint-loader-load {
	100% {
		opacity: 0;
		transform: scale(1);
	}
}
/** Loader CSS END **/

.saasappoint-bd-link-font{
	font-size: medium !important;
}

/** search box css **/
.saasappoint-form-control-borderless {
    border: none;
}

.saasappoint-form-control-borderless:hover, .saasappoint-form-control-borderless:active, .saasappoint-form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

/** pagination CSS **/
#saasappoint-bd-pagination .page-item .page-link{
	background-color: rgba(14, 118, 51, 0.5) !important;
	color: white !important;
	font-size: 1rem !important;
	margin-left: 3px;
	margin-right: 3px;
	border-radius: 48%;
}
#saasappoint-bd-pagination .page-item.disabled .page-link{
	background-color: rgba(17, 117, 52, 0.26) !important;
	color: rgba(50, 96, 66, 0.43) !important;
	font-size: 1rem !important;
}
#saasappoint-bd-pagination .page-item.active .page-link{
	background-color: rgba(17, 117, 52, 0.26) !important;
	color: rgba(50, 96, 66, 0.75) !important;
	font-size: 1rem !important;
	border: rgba(14, 118, 51, 0.5) 2px solid !important;
	box-shadow: 0 8px 16px 0 rgba(14, 118, 51,0.2), 0 6px 20px 0 rgba(14, 118, 51,0.19);
}

#saasappoint_search_business_btn:hover,
#saasappoint-bd-pagination .page-item.saasappoint_perpage_pagination_link .page-link:hover {
	box-shadow: 0 12px 16px 0 rgba(14, 118, 51,0.24), 0 17px 50px 0 rgba(14, 118, 51,0.19);
}

#saasappoint_search_business_btn{
	background-color:#7F257D!important;
	border-color: rgba(14, 118, 51, 0.1) !important;
}